# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# NuGet packages
packages/
*.nupkg

# Source control bindings
*.vspscc
*.vssscc
